<div class="container">
<footer class="page-footer font-small special-color-dark pt-4">

  <div class="footer-copyright text-center py-3">© 2020 Copyright: 勤務管理システム
  </div>
  <!-- Copyright -->

</footer>
</div>
